:root {
  --Wh0: #FFFFFF;
  --Ga10: #18191C;

  @media (prefers-color-scheme: dark) {
    --Wh0: #17181A;
    --Ga10: #E7E9EB;
  }
}

body {
  background-color: var(--Wh0);
}

#wider-bilibili {
  display: flex !important;
  opacity: 1;
}