/* 自适应高度 */
#playerWrap.player-wrap,
#bilibili-player-wrap {
  height: fit-content;
}

#bilibili-player {
  height: auto !important;
}

/* 限制高度上限100vh */
.bpx-player-video-area,
.bpx-player-video-wrap>video {
  max-height: 100vh;
}