/* 小窗 */
.bpx-player-container {
  --mini-width: 320px;
  /* 最小宽度，以防不可见 */
  min-width: 180px;

  &[data-screen="mini"] {
    width: var(--mini-width) !important;
    /* 自动高度 (不显示黑边和阴影) */
    height: auto !important;
    box-shadow: none;

    /* 以防竖屏视频超出：留出导航栏高度+16px */
    .bpx-player-video-wrap>video {
      max-height: calc(100vh - 16px - var(--navbar-height));
    }
  }
}

.bpx-player-mini-resizer {
  position: absolute;
  left: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}