/* 导航栏上置 (默认下置) */
:root {
  --upper-nav: 1;
}

#biliMainHeader {
  margin-top: 0;
  margin-bottom: var(--player-height-record);
  /* 播放器的 z-index 是100000 */
  z-index: 114514;
}


#playerWrap.player-wrap,
#bilibili-player-wrap {
  top: var(--navbar-height);
}