/* 导航栏上置 (默认下置) */
:root {
  --player-height: calc(100vh - var(--navbar-height));
}

#biliMainHeader {
  margin-top: 0;
  margin-bottom: var(--player-height);
  /* 播放器的 z-index 是100000 */
  z-index: 114514;
}


#playerWrap.player-wrap,
#bilibili-player-wrap {
  top: var(--navbar-height);
}

/* 限制高度上限 */
.bpx-player-video-area,
.bpx-player-video-wrap>video {
  max-height: calc(100vh - var(--navbar-height));
}