/* This overrides :root style */
html {
  --layout-padding-input: 30px;
  --navbar-height: 64px;
}

body {
  --layout-padding: min(var(--layout-padding-input), 15vw);
}

/* 导航栏 */
#biliMainHeader {
  height: auto !important;
  min-height: var(--navbar-height) !important;
  margin-bottom: 0;
  position: initial;
  visibility: initial !important;

  >.bili-header {
    min-width: auto !important;
    max-width: none !important;
    min-height: auto !important;

    >.bili-header__bar {
      position: relative !important;
      height: var(--navbar-height);
      max-width: none !important;
    }
  }

  /* 自定义顶栏加载后 */
  >.custom-navbar {
    position: relative;
    z-index: 3 !important;
  }
}

/* 搜索栏 */
.center-search-container {
  min-width: 0;
}