/* 首页 */
div#i_cecream {
  max-width: none;
}

.feed-roll-btn {
  left: calc(100% - var(--layout-padding)) !important;

  .roll-btn {
    aspect-ratio: 1/1;

    >span {
      display: none
    }

    >svg {
      margin-bottom: 0 !important
    }
  }
}

.feed-card,
.floor-single-card,
.bili-video-card {
  margin-top: 0px !important;
}

.palette-button-wrap {
  left: initial !important;
  right: 30px;
}