/* 阅读页 */
#app {
  margin: 0 var(--layout-padding);

  >.article-detail {
    width: initial;

    .article-up-info {
      width: initial;
      margin: 0 80px 20px;
    }

    .right-side-bar {
      right: 0;
    }
  }
}