/* 播放器 */
:root {
  --navbar-height: 64px;
  --player-height: 100vh;
}

#playerWrap.player-wrap,
#bilibili-player-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--player-height);
  /* 番剧页加载时播放器会有右填充 */
  padding-right: 0;
}

#bilibili-player {
  height: 100% !important;
  width: 100% !important;
  box-shadow: none !important;

  /* Bilibili Evolved 夜间模式样式的优先级很高，所以嵌套在#bilibili-player里面 */
  .bpx-player-video-info {
    color: hsla(0, 0%, 100%, .9) !important;
    margin-right: 10px;
  }

  .bpx-player-video-btn-dm,
  .bpx-player-dm-setting,
  .bpx-player-dm-switch {
    fill: hsla(0, 0%, 100%, .9) !important;
  }

  .bpx-player-dm-hint>a {
    color: hsla(0, 0%, 100%, .6) !important;
    fill: hsla(0, 0%, 100%, .6) !important;
  }
}

/* 限制高度上限100vh */
.bpx-player-video-area,
.bpx-player-video-wrap>video {
  max-height: 100vh;
}

#bilibili-player-wrap .bpx-docker:has(>.bpx-player-container[data-screen="mini"]) {
  height: var(--player-height);
}

/* 加载时强制占用全屏 */
.bpx-player-video-area:has(>.bpx-state-loading) video {
  min-height: 100vh;
}

/* 这啥? */
.bpx-player-cmd-dm-wrap {
  display: none;
}

/* 加载动画强制显示 */
.bpx-player-loading-panel-blur {
  display: flex !important;
}

/* 强制显示播放器控件 */
.bpx-player-top-left-title,
.bpx-player-top-left-music,
.bpx-player-top-mask {
  display: block !important;
}

/* 不然会鬼畜 */
.bpx-player-top-mask {
  transition-property: none !important;
}

/* 原弹幕发送区域不显示 */
.bpx-player-sending-area {
  display: none;
}

/* 原宽屏/网页全屏按钮不显示 */
.bpx-player-ctrl-wide,
.bpx-player-ctrl-web {
  display: none;
}

/* 导航栏 */
#biliMainHeader {
  margin-top: var(--player-height);
  margin-bottom: 0;
  position: sticky;
  top: 0;
  /* 其他元素 z-index 基本是<100 */
  z-index: 100;
}

.bili-header.fixed-header {
  min-height: initial !important;
  min-width: initial !important;
}

.bili-header__bar {
  position: relative !important;
}

.custom-navbar {
  z-index: 3 !important;
}

#biliMainHeader>.custom-navbar {
  position: relative;
}

/* 使用 static 才能让播放器的 absolute 正确定位 */
/* 视频、番剧、收藏/稍后再看页 */
.video-container-v1,
.left-container,
.main-container,
.playlist-container--left {
  position: static !important;
}

/* 视频页、番剧页、收藏/稍后再看页的下方容器 */
.video-container-v1,
.main-container,
.playlist-container {
  padding: 0 var(--layout-padding) !important;
  min-width: initial !important;
}

.left-container,
.plp-l,
.playlist-container--left {
  flex: 1;
}

.plp-r {
  position: sticky !important;
  /* 番剧页加载时不会先使用sticky */
}

/* 番剧页下方容器 */
.main-container {
  width: 100%;
  margin: 0 !important;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-sizing: border-box;
  display: flex;

  /* 番剧页右下方浮动按钮位置 */
  >:last-child[class^=navTools_floatNavExp] {
    z-index: 2 !important;
  }
}

.player-left-components {
  padding-right: 30px !important;
}

.toolbar {
  padding-top: 0;
}

/* 视频标题自动高度 */
#viewbox_report,
.video-info-container {
  height: auto;
}

/* 视频标题换行显示 */
.video-title {
  white-space: normal !important;
}

/* bgm浮窗 */
#bgm-entry {
  z-index: 114514 !important;
  left: 0 !important;
}

/* 笔记浮窗 */
.note-pc {
  z-index: 114514 !important;
}

/* Bilibili Evolved侧栏 */
.be-settings .sidebar {
  z-index: 114514 !important;
}